.profileimg {
    border-radius: 100%;
    width: 25%;
    border-color: #eb5e28;
    border-style: solid;
    border-width: 5%;
}

.profileimg-mobile {
    border-radius: 100%;
    width: 50%;
    border-color: #eb5e28;
    border-style: solid;
    border-width: 2%;
}

.about{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-mobile{
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.name{
    color: #fffcf2;
}

.text{
    font-size: medium;
    color: #fffcf2;
}

.name-mobile{
    font-size: x-large;
    color: #fffcf2;
}

.text-mobile{
    font-size: small;
    color: #fffcf2;
}

@media (max-width: 768px){
    .about{
        display: none;
    }
    .about-mobile{
        display: flex;
    }
  }