.profileimg {
    border-radius: 100%;
    width: 50%;
    border-color: #eb5e28;
    border-style: solid;
    border-image: 5%;
    aspect-ratio: auto 4450 / 3650;
}

.about{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.name{
    color: #fffcf2;
}

.text{
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
    color: #fffcf2;
}

@media (max-width: 768px){
    .name{
        font-size: x-large;
    }
    .profileimg {
        width: 50%;
        border-width: 2%;
    }
    .text{
        font-size: small;
    }
  }