.header {
    background-color: #403d39;
    border: 5%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 10px;
    border-bottom-color: #eb5e28;
    display: flex;
    position: sticky;
    font-family: "Fira Sans";
    top: 0;
}

.link{
    padding: 10px;
    color: #ccc5b9;
}

.links{
    justify-content: left;
    align-items: left;
    padding: 10px;
    flex: 1;
}

.center-name{
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: #FFFCF2;
}

.img{
    width: 10px;
    height: 10px;
}

.resume{
    justify-content: right;
    align-items: right;
    flex: 1;
}


@media (max-width: 768px){
    .header{
        padding: 2%;
    }
    .center-name{
        display: none;
    }
}