.workplace{
    font-size: small;
    color: #fffcf2;
}

.title, .repo{
    color: #fffcf2;
    font-size: larger;
}

.dates, .blurb{
    color: #fffcf2;
    font-size:small;
}

.work, .project{
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

@media (max-width: 768px){
    .title, .repo{
        font-size: medium;
    }
    .workplace{
        font-size: x-small;
    }
    .work, .project{
        padding-left: 0%;
        padding-right: 0%;
    }
    .dates, .blurb{
        font-size: x-small;
    }
}