.workplace{
    color: #fffcf2;
    font-size: large;
}

.title, .repo{
    color: #fffcf2;
    font-size: larger;
}

.dates, .blurb{
    color: #fffcf2;
    font-size:medium;
}

.work, .project{
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.repo{
    font-weight: bold;
}
.repo:hover{
    color: lightblue;
}

@media (max-width: 768px){
    .title, .repo{
        font-size: medium;
    }
    .workplace{
        font-size: x-small;
    }
    .work, .project{
        padding-left: 0%;
        padding-right: 0%;
    }
    .dates, .blurb{
        font-size: 12px;
    }
}