.workplace{
    font-size: small;
    color: #fffcf2;
}

.title{
    color: #fffcf2;
    font-size: larger;
}

.dates{
    color: #fffcf2;
    font-size:small;
}

.work{
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

@media (max-width: 768px){
    .title{
        font-size: medium;
    }
    .workplace{
        font-size: x-small;
    }
    .work{
        padding-left: 0%;
        padding-right: 0%;
    }
    .dates{
        font-size: x-small;
    }
}