
.body{
  padding-top: 10%;
  background-color: #252422;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.body-mobile{
  padding-top: 30%;
  background-color: #252422;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
}


@media (max-width: 768px){
  .body{
      display: none;
  }
  .body-mobile{
      display: flex;
  }
}