
.body{
  padding-top: 10%;
  background-color: #252422;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Fira Sans";
}

.workex, .projects{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin: 0 auto;
}

.worktitle{
  color: #fffcf2;
  text-decoration: underline;
  padding-top: 5%;
  display: flex;
}


@media (max-width: 768px){
  .body{
    padding-top: 30%;
  }
  .workex, .projects{
    flex-direction: column;
    min-width: 0%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
  }
  .worktitle{
    padding-top: 20%;
  }
}